/* Reset some default styles for better cross-browser consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(245, 245, 245);
  font-family: Arial, sans-serif; /* Added for consistent font */
}



/* Navbar */
.navbar {
  background: url('img/fondolog.webp');
  position: fixed;
  width: 100%;
  z-index: 1;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for navbar */
}

.navbar nav {
  margin-left: auto;
}

nav a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  transition: color 0.3s ease;
}

nav a:hover,
nav a:focus {
  color: #f58d88; 
}

/* Container */
.container {
  background: url('img/fondo2.webp');
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1); 
}

.card {
  margin: 20px 0;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Added rounded corners to card images */
}

h3{
font-size: 20px;
font-weight: bold;

}


/* Footer */
footer {
  background: rgba(153, 153, 153, 1);
  color: #fff;
  padding: 40px 0;
}
.contact{
  color: #77cda9;
}
footer .container-fluid {
  padding: 20px;
}

footer .social-icons {
  margin-top: 10px;
}

footer .social-icons a {
  margin: 0 10px;
  display: inline-block;
}

footer .social-icon {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

footer .social-icon:hover {
  transform: scale(1.1);
}

footer .text-secondary {
  color: #b0bec5;
}

footer .bg-dark {
  background-color: #000;
}

footer .text-light {
  color: #f1f1f1;
}

footer .row .col-md-6 {
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {

  .container {
    max-width: 90%;
  } 

  footer .container-fluid {
    padding: 10px;
  }

  footer .row .col-md-6 {
    padding: 10px;
  }

 
}
