* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.navbar {
  background: url('img/fondolog.webp');
  position: fixed;
  width: 100%;
  z-index: 1;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar nav {
  margin-left: auto;
}

nav a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  transition: color 0.3s ease;
}

nav a:hover,
nav a:focus {
  color: #f58d88;
}

.container {
  background: url('img/fondo2.webp');
  width: 100%;
  color: rgba(255, 255, 255, 0.99);
  border-radius: 8px;
  padding: 20px; 
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}


/* Cards */
.card {
  margin: 20px 0;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Headings */
h3 {
  font-size: 20px;
  font-weight: bold;
}

/* Footer */
footer {
  background: #999;
  color: #fff;
  padding: 40px 0;
}

.contact {
  color: #77cda9;
}

footer .container-fluid {
  padding: 20px;
}

footer .social-icons {
  margin-top: 10px;
}

footer .social-icons a {
  margin: 0 10px;
  display: inline-block;
}

footer .social-icon {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

footer .social-icon:hover {
  transform: scale(1.1);
}

footer .text-secondary {
  color: #b0bec5;
}

footer .bg-dark {
  background-color: #000;
}

footer .text-light {
  color: #f1f1f1;
}

footer .row .col-md-6 {
  padding: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  footer .container-fluid,
  footer .row .col-md-6 {
    padding: 10px;
  }
}